/node_modules
/apps/web/node_modules
/apps/node/node_modules
/apps/node/dist
/apps/node/*.js
/apps/node/*.js.map
/apps/node/*.d.ts
/apps/node/*.d.ts.map
/apps/web/.env
/packages/node/node_modules
/packages/node/.env
/contracts/.env
.pnpm-lock.yaml
/.pnpm-store
/contracts/out
/contracts/cache
/contracts/broadcast
/contracts/broadcast/*/31337/
/contracts/broadcast/**/dry-run/
/contracts/lib/forge-std/cache
/contracts/lib/forge-std/out
/contracts/lib/forge-std/broadcast
/contracts/lib/forge-std/broadcast/*/31337/
/contracts/lib/forge-std/broadcast/**/dry-run/